@namespace Tailwind.Toast

@if (ToastList.Any())
{
    <div class="fixed inset-0 z-50 flex @(PositionClass) py-2 px-12 pointer-events-none">
    <div class="max-w-sm w-full">
        <CascadingValue Value=this>
            @foreach (var toast in ToastList.OrderBy(x => x.TimeStamp))
            {
                <CascadingValue Name="Toast" Value=toast>
                    <TailwindToast @key="toast" Toast="toast.Toast" ToastId="toast.Id" Timeout="Timeout" />
                </CascadingValue>
            }
        </CascadingValue>
    </div>
</div>
}